/* redid this section to start as mobile and tablet */
body {
    margin: 0;
    background-image: url("../images/Circuit.jpeg")
}

nav {
    background-color: white;
    height: auto;
    border-bottom: 2px solid #cccccc;
    z-index: 4;    
}

section {
    background-color: white;
    width: 100%;
}

#profilepic {
    height: 300px;
    width: 300px;
    float: left;
    margin: 20px
}

section h1 {
    padding: 20px;
    color: rgb(12,173,167);
    font-size: 150%;
    font-family: Georgia, Times, "Times New Roman", serif;
}

section p {
    text-indent: 50px;
    margin: 10px;
    font-size: 100%;
    color: #777777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 160%;
}

footer {
    background-color: #666666;
    color: white;
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    border-top: solid rgb(12,173,167) 5px;
    z-index: 3;
    height: 50px;
    max-height: 100px;
    clear: both;
}

footer p {
    padding: 10px;
}

a {
    text-decoration: none;
}

#links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#links li {
    display: block;
    width: 100%;
}

#links a {
    color: #777777;
    background-color: white;
    padding: 21px;
    display: block;
    width: 100%;
    font-size: 20px;
    font-family: Georgia, Times, "Times New Roman", serif;
}

#links a:hover {
    color: white;
    background-color: rgb(12,173,167);
    font-family: Georgia, Times, "Times New Roman", serif;
}

#links a:active {
    color: white;
    background-color: black;
    font-family: Georgia, Times, "Times New Roman", serif;
}

#links a:visited {
    color: white;
    background-color: #777777;
    font-family: Georgia, Times, "Times New Roman", serif;
}

#links a:visited:hover {
    color: white;
    background-color: rgb(12,173,167);
    font-family: Georgia, Times, "Times New Roman", serif;
}

#name {
    display: block;
    width: 100%;
    color: white;
    background-color: rgb(12,173,167);
    padding: 15px;
    text-align: center;
    font-size: 32px;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.container {
    width: 100%;
}

.row {
    width: 100%;
}

.column {
    width: 100%;
    position: relative;
}

.column a {
    position: absolute;
    bottom: 60px;
    left: 0px;
    max-width: 62px;
    z-index: 2;
    text-align: center;
    text-decoration: none;
    background-color: rgb(12,173,167);
    color: white;
    padding: 30px 119px;
}

form {
    border-radius: 5px;
    padding: 20px;
    color: #777777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100px;
    background-color: rgb(12,173,167);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}

#message {
    padding: 13px 20px 100px 19px;
}

#cat {
    width: 300px;
    height: 300px;
    float: right;
}

/* added this section to set breakpoint after mobile and tablet size */

@media screen and (min-width:768px) {
    section {
        margin: 100px 150px;
        padding: 20px;
        width: 68%;
        border: 2px solid #dddddd;
        min-height: 900px;
    }

    nav {
        background-color: white;
        border-bottom: 2px solid #cccccc;
        height: 60px;
        position: sticky;
        top: 0;
        z-index: 4;    
    }

    #links {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    #links li {
        float: right;
        width: auto;
    }

    #links a {
        float: right;
        width: auto;
        color: #777777;
        background-color: white;
        padding: 21px;
        text-align: center;
        font-size: 20px;
        font-family: Georgia, Times, "Times New Roman", serif;
    }

    #name {
        float: left;
        width: auto;
        color: white;
        background-color: rgb(12,173,167);
        padding: 15px;
        text-align: center;
        font-size: 32px;
        font-family: Georgia, Times, "Times New Roman", serif;
    }

    footer {
        background-color: #666666;
        color: white;
        text-align: center;
        font-family: Georgia, Times, "Times New Roman", serif;
        border-top: solid rgb(12,173,167) 5px;
        position: sticky;
        bottom: 0;
        z-index: 3;
        height: 50px;
        max-height: 100px;
        clear: both;
    }

    .container {
        width: 100%;
    }
    
    .row {
        width: 100%;
    }
    
    .column {
        display: inline;
        position: relative;
    }

    .column a {
        position: absolute;
        bottom: 100px;
        left: 50px;
        max-width: 200px;
        z-index: 2;
        width: 100px;
        text-align: center;
        text-decoration: none;
        background-color: rgb(12,173,167);
        color: white;
        padding: 30px 100px;
    }

    .column img {
        margin: 50px 50px 50px 50px
    }

    #profilepic {

    }

    #cat {
        
    }
}

/* this setting was not needed as all sizing above tablet is done by %
@media screen and (min-width:980px) {
    
}
*/

@media screen and (max-width:768px) {
    #links {
        transform: rotate(180deg)
    }
    
    #links li {
        transform: rotate(-180deg)
    }
}